<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
         backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         verbose="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="all">
            <directory suffix=".php">./tests/Unit</directory>
            <exclude>./src/Commands</exclude>
        </testsuite>
        <testsuite name="bulk">
            <file>tests/Unit/RevisionTestBulkActions.php</file>
        </testsuite>
        <testsuite name="normal">
            <file>tests/Unit/RevisionTest.php</file>
        </testsuite>
        <testsuite name="relation">
            <file>tests/Unit/RevisionTestWithRelation.php</file>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src/Builder</directory>
            <directory suffix=".php">./src/Models</directory>
            <directory suffix=".php">./src/Providers</directory>
            <directory suffix=".php">./src/Traits</directory>
            <directory suffix="">./src/RevisionTracking.php</directory>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-html" target="tests/Report/html"/>
        <log type="coverage-clover" target="tests/Report/report.xml"/>
    </logging>
    <php>
        <server name="APP_ENV" value="testing"/>
        <server name="BCRYPT_ROUNDS" value="4"/>
        <server name="CACHE_DRIVER" value="array"/>
        <server name="MAIL_DRIVER" value="array"/>
        <server name="QUEUE_CONNECTION" value="sync"/>
        <server name="SESSION_DRIVER" value="array"/>
    </php>
</phpunit>
